* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5 {
    font-family: "Open Sans", sans-serif
}

body {
    background-color: #f1f1f1;
    margin: 0;
}

.nav {
    list-style-type: none;    
    margin: 0;
    padding: 0;
    display: flex;
    background-color: $secondary-background-color;
    color: $default-background-color;
    font-size: 18px;
    border-bottom: 1px solid #1e8adc;
}


.nav-link {
    display: block;
    color: $default-background-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.active {
    background-color: #3a4b53;
}

    .active:hover {
        color: #000;
        background-color: #ccc;
    }

li a:hover {
    background-color: white;
    color: black;
}

main {
    margin: auto;
    padding: 10px;
    width: 90%;
}

.container {
    @extend %default-container;
    padding: 1.5rem;    
    border-width: .2rem;    
}

