.form-container {
    @extend %default-container;
    padding: 20px;     
    margin: auto;
    width: 50%;
}

.row{
    display: flex;
}

.col-25 {    
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    width: 70%;
    margin-top: 6px;
}

.label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.form {
    width: 100%;
    padding: 10px 25px;
    margin: 10px;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    color: #212529;
    background-color: $default-background-color;
}

    .form[readonly] {
        background-color: #e9ecef;
        opacity: 1;
    }
