.form-container {
    border-radius: 5px;
    padding: 20px;
    color: #000;
    background-color: #fff;
    border: solid #f7f7f9;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    margin: auto;
    width: 50%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 70%;
    margin-top: 6px;
}

.label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.form {
    display: block;
    width: 100%;
    padding: 10px 25px;
    margin: 10px;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    color: #212529;
    background-color: #fff;
}

    .form[readonly] {
        background-color: #e9ecef;
        opacity: 1;
    }
