$default-border:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
$default-background-color: #ffffff;
$secondary-background-color:#4d636f;

%default-container{
    border-radius: 5px;
    color: #000;
    background-color: $default-background-color;
    border: solid #f7f7f9;
    box-shadow: $default-border;
}